
<div class="content ">
<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <span>© 2025 My Portfolio. All Rights Reserved.</span>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/your-profile" target="_blank">
            <img src="assets/linkedin.svg" alt="LinkedIn">
          </a>

          <a href="mailto:your.email@example.com">
            <img src="assets/gmail.svg" alt="Email">
          </a>
        </div>
      </div>
    </div>
  </footer>
</div>


  