<section class="about">
    <div class="container">
      <div class="about-content">
        <div class="row">
          <div class="col-md-6">
            <h2>About Me</h2>
        <p>
          Hi! I'm <span class="highlight">Neelima Manyam</span>, a passionate <strong>Angular Developer</strong> with expertise in building
          scalable, dynamic, and high-performance web applications.
        </p>
        <p>
          I have <strong>5.5 years</strong> of experience working with modern frontend technologies like 
          <span class="highlight">Angular, Javascript, TypeScript, HTML, CSS</span>. 
          I love solving complex problems 
          and crafting smooth user experiences.
        </p>
        <p>
          Currently, I'm focused on improving UI/UX, optimizing performance, and implementing best coding practices.
        </p>

          </div>
          <div class="col-md-6">
            <div class="about-image">
              <img src="assets/animated_img.jpg" alt="Your Image" class="profile-img">
            </div>
            
          </div>
        </div>
        
        <!-- <a routerLink="/projects" class="btn">View My Work</a>
        <a routerLink="/contact" class="btn outline">Contact Me</a> -->
      </div>
  
    </div>
  </section>
  