<!-- <header class="navbar">
    <nav>
        <ul class="nav-links">
            <li class="frst"><a routerLink="/">My Portfolio</a></li>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/projects">Projects</a></li>
            <li><a routerLink="/skills">Skills</a></li>
            <li><a routerLink="/contact">Contact</a></li>
          </ul>
    </nav>
    </header> -->
 
  <section class="home">
    <div class="container">
      <div class="text-content">
        <h1>Hi, I'm <span class="highlight">Neelima Manyam</span> 👋</h1>
        <h2>I'm a <span class="highlight">Frontend Developer</span></h2>
        <p>Passionate about building interactive applications and experiences on the web.</p>
        <!-- <a href="assets/Neelimacv.pdf" download="My_Resume.pdf" class="btn-download">Download Resume</a> -->
        <a href="assets/Neelimacv.pdf" download="Neelima_Manyam.pdf" class="btn">Download Resume</a>
        <a routerLink="/contact" class="btn outline">Contact Me</a>
      </div>
    </div>
  </section>
  
 
  